<div class="max-w-screen-xl mx-auto mt-[10%]">
  <h6 class="text-4xl font-bold md:mb-2 w-2/5 leading-normal">Introduce Your Product Quickly & Effectively</h6>
  <p class="text-sm md:w-2/5 mb-5 font-medium">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
  </p>
  <p class="text-sm md:w-2/5 mb-5 font-medium">
    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  </p>
  <div class="mt-16">
    <app-button [title]="'Request Fiber'"></app-button>
    <a href="" routerLink="/request" class="border-2 border-black py-1 px-8 text-center rounded-[2px] ml-5">Learn More</a>
  </div>
</div>
