<div class="bg-[#ffe7fd] w-full h-64">
  <div class="max-w-screen-xl mx-auto flex flex-col justify-center items-center h-full">
    <div class="flex justify-between items-center w-full">
      <p>&copy; 2023 Ebenezer Buabeng</p>
      <h2 class="font-bold text-3xl text-[#EA0A8E]">T-Mobile</h2>
      <app-button [title]="'Order Now'"></app-button>
    </div>
    <hr>
    <div class="w-full flex justify-between items-center mt-16">
      <app-navbar></app-navbar>
      <div class="flex justify-center items-center">
        <p>facebook</p>
        <p>linkedIn</p>
        <p>twitter</p>
        <p>youtube</p>
        <p>instagram</p>
      </div>
    </div>
  </div>
</div>
