<div class="bg-[#ffe7fd] w-full h-64">
  <div class="max-w-screen-xl mx-auto flex flex-col justify-center items-center h-full">
    <div class="flex justify-between items-center w-full">
      <p>&copy; 2023 Ebenezer Buabeng</p>
      <p class="font-bold text-[32px] text-[#EA0A8E]">T-Mobile</p>
      <app-button [title]="'Order Now'"></app-button>
    </div>
    <div class="w-full flex justify-between items-center mt-16 border-t-2 border-gray-300 pt-5">
      <app-navbar></app-navbar>
      <div class="flex w-1/5 justify-between items-center">
        <a href="#"><img ngSrc="assets/images/facebook.svg" alt="facebook" height="25" width="25"></a>
        <a href="#"><img ngSrc="assets/images/twitter.svg" alt="twitter" height="25" width="25"></a>
        <a href="#"><img ngSrc="assets/images/instagram.svg" alt="instagram" height="25" width="25"></a>
        <a href="#"><img ngSrc="assets/images/linkedin.svg" alt="linkedin" height="25" width="25"></a>
      </div>
    </div>
  </div>
</div>
