<div class="max-w-screen-xl mx-auto flex items-center m-20">
  <div class="basis-2/4">
    <p class="text-[36px] font-bold mb-7">Light, Fast & Powerful</p>
    <p class="mb-3">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus.
    </p>
    <p>
      Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    </p>
    <div class="flex items-center w-full">
      <app-banner-left-subsection [title]="'Title Goes Here'"></app-banner-left-subsection>
      <app-banner-left-subsection [title]="'Title Goes Here'"></app-banner-left-subsection>
    </div>
  </div>
  <div class="basis-2/4">
    <img src="assets/images/banner.png" alt="banner image">
  </div>
</div>
