.bg-image{
  background-image: url('/assets/images/designer_1.png');
  background-position: top right;
  background-repeat: no-repeat !important;
  background-size: contain;
  min-height: 100vh;
  min-width: 70vw;
}
